<div class="container">
  <h1>Welcome back!</h1>
  
  <br><br>
  
  <form action="/signin" method="post">
    <h3>Sign In :</h3>
    <span>Email</span><br><input type="text" name="sign_in[email]">
    <br>
    <span>Password</span><br><input type="password" name="sign_in[password_hash]">
    <br>
    <button type="submit">Sign In</button> 
  </form>
</div>
