<div class="container">
  <h1>Enter all your secrets!</h1>
  
  <br><br>
  
  <form action="/signup" method="post">
    <br>
    <h3>Or Sign Up!</h3>
    <span>Name</span><br><input type="text" name="sign_up[first_name]">
    <br>
    <span>Password</span><br><input type="password" name="sign_up[password_hash]">
    <br>
    <span>Email</span><br><input type="text" name="sign_up[email]">
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>
